<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border n=1">
            <div class="text-center">
                <h2>Sobre mí</h2>
                <img src="../../assets/foto.jpg" alt="profile picture" width="250" class="rounded-circle">

                <p>
                    Desarrolladora Web con un año de experiencia profesional en el sector IT, he colaborado con diversos equipos, demostrando mi compromiso, proactividad, capacidad de resolución de problemas, habilidades comunicativas y empatía. Mi entusiasmo por la formación y el desarrollo personal se reflejan en mi continua búsqueda de crecimiento al ritmo de los avances tecnológicos.
                    Estoy encantada de contribuir en proyectos innovadores y seguir evolucionando en el emocionante campo del desarrollo web. Lista para aportar y crecer junto a un equipo comprometido con la vida. 🚀   
                </p>
            </div>

        </div>
        <!--Featured Projects-->
        <div class="col-lg shadow border n=1">
            <div class="text-center">
                <h2>Proyectos Destacados</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
        </div>

    </div>
</div>
